<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
     <link th:href="@{/styles/styles_configuredwp.css}" rel="stylesheet" />
    <title>Configuration du DWP</title>
</head>
<body>
<div class="main">
    <h1>Configuration du DigitalWorkSpace</h1>
    <a>Le DWP que vous souhaitez visiter n'est pas encore configuré.</a>
    <form method="post" th:action="@{/dwprooms}">
    	<p>Veuillez choisir l'architecture de ce DigitalWorkSpace</p>
		<div class="radio_archi">
	   
	    <div><label for="archi_1"><img th:src="@{/images/architectures/archi_1.png}"></label></div>
		 <input type="radio" id="archi_1" th:name="archi" value="1" th:value="archi_1">
 		<div><label for="archi_2"><img th:src="@{/images/architectures/archi_2.png}"></label></div>
	    <input type="radio" id="archi_2" th:name="archi" value="2" th:value="archi_2">
	   
	  </div>
	  <div>
	    <button type="submit">Valider</button>
	  </div>
	</form>
</div>
</body>
</html>